:root {
    --ivory: #f2f0f0;
    --black1: #212621;
    --green: #537a6d;
    --black2: #0b0d0c;
    --blue: #55f0e3;
  }
  
.fas {
    color: #d8f136;
  }

  .top-title {
    font-family: 'Oswald';
    margin-top: 20px;
  }