:root {
    --ivory: #f2f0f0;
    --black1: #212621;
    --green: #537a6d;
    --black2: #0b0d0c;
    --blue: #55f0e3;

}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 3px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--ivory);
    font-family: 'Ubuntu', sans-serif;
}

.banner-image {
    padding: 60px 0px 60px 0px;
}

/* The header was inspired by the html / css code for the Unit 1 homework assignment */
header { 
    padding: 10px;
    background-color: var(--green);
    color: var(--ivory);
}

h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 50px;
}

h1 .Chu {
    color: var(--blue);
    margin-left: 5px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

main {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-bottom: 20px;
}

a {
    color: var(--ivory);
    text-decoration: none;
}

p {
    font-size: 16px;
}

#banner {
    height: auto;
    width: 100%;
    object-fit: fill;
    margin-bottom: 5px;
}

main {
    width: 96%;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

 .about-wrapper {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 40px;
 }
  
/* This was inspired by for mobile-first approach in the Unit 2 Advanced CSS Mini Project code */
.column {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  }

h2 {
    padding: 5px;
    margin: 20px 0 0 20px;
    font-size: 2rem;
    color: var(--black2);
    font-weight: bolder;
}

.about-box {
    float: left;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.headshot #headshot {
    float: left;
    padding: 10px;
    display: flex;
    margin-right: 80px;
}

.bio-box {
    float: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bio-box #bio {
    float: right;
    text-align: center;
    font-size: 1.5rem;
    margin: 3px;
    padding: 20px 10px 10px 10px;
    display: flex;
    font-weight: bolder;
}

#bio {
    font-size: 1.75rem;
    color: rgb(53, 70, 25);
    padding-top: 10px;
    margin-top: 20px;
}

/* I'm not sure why the curly bracket in line 162 is keeping the styling in place!  */

}


.Project-Box {
    display: flex;
    width: 70%
    /* height: 100% */
    /* position: relative; */
    /* text-align: center; */
    /* padding: 20px; */
    border: solid 5px var(--green);  
}

.Project-Box a {
    display: flex;
    margin-top: 20px;
    /* width: 200px */
    /* height: 200px */
    /* border: solid 1px var(--black1) */
}

.Project-Box #Project1 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project2 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project3 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project4 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project5 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #covid-image {
    width: 100%;
    display: flex;
    object-fit: cover;  
}

.Project-Box #box-tetris {
    width: 100%;
    display: flex;
    object-fit: cover;  
}

.Project-Box #roadsides-icon {
    width: 100%;
    display: flex; 
    object-fit: cover; 
}

.Project-Box #arsenal-hinges {
    width: 100%;
    /* height: auto; */
    display: flex;
    object-fit: cover; 
}

.Project-Box #prairie-cranes {
    width: 100%;
    /* height: auto; */
    display: flex; 
    object-fit: cover;
}

h3 {
    font-size: 1.75rem;
    color: var(--green);
}

footer {
    background-color: var(--blue);
    padding: 20px;
    /* margin: 20px; */
}

h4 {
    display: inline-flex;
    padding: 15px;
    margin-left: 20px;
    font-size: 2rem;
    color: var(--black2);
}

.contact-info {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}

/* Adding blur to background image on results page */
.blur {
    /* // Make sure this color has an opacity of less than 1 */
    background: rgba(244, 252, 228, 0.2);
    backdrop-filter: blur(3px);
} 

.blur2 {
    /* // Make sure this color has an opacity of less than 1 */
    background: rgba(244, 252, 228, 0.4);
    backdrop-filter: blur(10px);
} 