:root {
  --ivory: #f2f0f0;
  --black1: #212621;
  --green: #537a6d;
  --black2: #0b0d0c;
  --blue: #55f0e3;
}
.banner-image {
  padding: 60px 0px 60px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  height: 300px;
}
header {
  padding: 20px;
  background-color: var(--green);
}

h1 {
  display: inline-block;
  font-size: 48px;
  margin-left: 50px;
  color: var(--ivory);
}

span.Chu {
  color: var(--blue);
  margin-left: 5px;
}

nav {
  padding-top: 15px;
  margin-right: 10px;
  float: right;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-bottom: 20px;
}

p {
  color: var(--ivory);
  text-decoration: none;
  padding-bottom: 30px;
  font-size: 20px;
}
