.banner-image {
    padding: 60px 0px 60px 0px;
}
header { 
    padding: 10px;
    background-color: var(--green);
    color: var(--ivory);
}

h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 50px;
}

h1 .Chu {
    color: var(--blue);
    margin-left: 5px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-bottom: 20px;
}

a {
    color: var(--ivory);
    text-decoration: none;
}