:root {
    --ivory: #f2f0f0;
    --black1: #212621;
    --green: #537a6d;
    --black2: #0b0d0c;
    --blue: #55f0e3;
  }

footer {
    background-color: #3bc0b5;;
    color: var(--black2);
    padding: 20px;
    /* margin: 20px; */
}

.container {
    margin: auto;
}

i {
    margin: auto;
}