footer {
    background-color: var(--blue);
    padding: 20px;
    /* margin: 20px; */
}

h4 {
    display: inline-flex;
    padding: 15px;
    margin-left: 20px;
    font-size: 2rem;
    color: var(--black2);
}

.contact-info {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-bottom: 20px;
}