a {
    color: var(--ivory);
    text-decoration: none;
}

h2 {
    padding: 5px;
    margin: 20px 0 0 20px;
    font-size: 2rem;
    color: var(--black2);
    font-weight: bolder;
}

.Project-Box {
    display: flex;
    width: 70%;
    border: solid 5px var(--green);  
}

.Project-Box a {
    display: flex;
    margin-top: 20px;
    /* width: 200px */
    /* height: 200px */
    /* border: solid 1px var(--black1) */
}

.Project-Box #Project1 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project2 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project3 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project4 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #Project5 {
    position: relative;
    bottom: 90px;
    left: 3px;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--blue);
    border: 2px solid var(--black1);
    background-color: var(--green);
}

.Project-Box #covid-image {
    width: 100%;
    display: flex;
    object-fit: cover;  
}

.Project-Box #box-tetris {
    width: 100%;
    display: flex;
    object-fit: cover;  
}

.Project-Box #roadsides-icon {
    width: 100%;
    display: flex; 
    object-fit: cover; 
}

.Project-Box #arsenal-hinges {
    width: 100%;
    /* height: auto; */
    display: flex;
    object-fit: cover; 
}

.Project-Box #prairie-cranes {
    width: 100%;
    /* height: auto; */
    display: flex; 
    object-fit: cover;
}

h3 {
    font-size: 1.75rem;
    color: var(--green);
}